<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>form1</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>
    <form action="/info/" method="post">
		{% csrf_token %} <!--post方式提交需要加，get不需要-->
		UserName:<input type="text" name="username"/>
		&nbsp;&nbsp;&nbsp;
		Age:<input type="text" name="age"/>
		&nbsp;&nbsp;&nbsp;
		<button type="submit">Submit</button>
	</form>
</body>
</html>